footer{
    background-color: #F7F7EB;
    grid-column: 1 / 13; /*Posicion en la grilla*/
    grid-row: 12 / 13;  /*Posicion en la grilla*/
    @include flex(row,space-between,center);
    padding: 2rem;
    .wsp__img{
        max-height: 6em;
    }
}

/* Mobile - screen menor que 600px de ancho */
@media screen and (max-width: 600px) {
    footer.mobile{
        @include flex(column,center,center);
        grid-row: 12 / 13;
        grid-column: 1 / 13;
    }

    .navbar.fixed-bottom {
        position: fixed;
        right: 0;
        bottom: 0.5em;
        left: 0;
        z-index: 1030;
    }
    .mobile{
        nav{
            width: 100%;
            background-color: #F7F7EB;
        }
        .menu{
            @include flex(row, space-around);
            padding: 0;
            margin: 0;
            width: 100%;
        }
        ul{
            @include flex(row);
            .menu__item{
                background-color: #F3F3E2;
                font-size: 1.5rem;
                text-align: center;
                padding: 0.5em;
            }   
        }
    }
}
