html{
    font-size: 62.5%  /*1 rem = 10px */ ;
    font-family: 'Roboto', sans-serif;
    color: black;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

$sizes:(
    jumbo: 6.8em,
    display: 3.2em,
    title: 2em,
    text: 1.5em,
    caption: 1em 
);

/*Helpers*/

@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}


.flex__row{
	display: flex;
	flex-direction: row;
}

.flex__column{
	display: flex;
	flex-direction: column;
}

body{
    background-color: #EBEBEB;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10vh;
}


.letra{

    font-family: 'Cedarville Cursive', cursive;

    &--negra{
        @extend .letra;
        color: black;
    }
    &--blanca{
        @extend .letra;
        color: white;
    }
    &--negrita{
        font-weight: 600;
    }
}

